
/*---------------TAGS---------------*/

.layout {
    background: url("https://preview.redd.it/a86m3ju4lcc51.png?width=1920&format=png&auto=webp&s=e0c8685989322d3859d85563f9537c0bed5009bd");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/*---------------CLASS---------------*/




/*---------------IDs---------------*/



/*---------------Media Queries---------------*/