/* *-----------------------------Classes-----------------------------* */
.signUp-form-container {
  width: 50vw;
  height: fit-content;
  padding: 15px 70px;
  /* WE SHOULD SET THE MARGIN FOR ALL PAGES TO A CERTAIN DISTANCE FROM THE TOPpx AUTO */
  margin: 0px auto;
  background-color: lightcyan;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgba(153, 178, 234, .8);
}
.signUp-form-title{
  align-self: center;
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
/* This id is attached to all the form.control inputs and it overrides the border-radius to none
Do we want border-radius here ???? */
#form-control {
  border-radius: 0;
  font-size: 20px; 
}
/* THIS LABEL COVERS ALL LABELS ON OUR APP */
label {
  color: white;
  font-size: 22px; 
}

.signUp-buttons {
  display: flex;
  justify-content: center;
}
#submit-button {
  align-self: center;
  background-color: #0B4779;
  font-size: 20px;
  font-weight: bold;
  margin: 0 2px;
}
#cancel-button {
  align-self: center;
  background-color: #0B4779;
  font-size: 20px;
  font-weight: bold;
  margin: 0 2px;
}
#text-muted {
  align-self: center;
  color: #0B4779;
  font-size: 20px;
}

@media only screen and (max-width : 375px) {

}
/* border: none !important; */