/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.footer {
  /* padding-top: 25px; */
  /* position: absolute; */
  width: 100vw;
  padding-top: 5px;
  margin-top: 100px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.99);
  opacity: 0.6;
  /* border: chartreuse 3px solid; */
  color: white;
}

.footer-h5 {
  /* border: red 3px solid; */
  display: flex;
}

.footer-link {
  /* border: yellow 3px solid;ç */
  display: inline;
  align-items: stretch;
  justify-content: space-between;
  color: white;
}


.footer-links {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.fa {
  padding: 5px;
}

#icon a {
  color: white
}

/*---------------Media Queries iPad Pro---------------*/
@media only screen and (max-width: 1366) {

}


/*---------------Media Queries iPad---------------*/
@media only screen and (max-width: 1024) {

}


/*---------------Media Queries iPhone X---------------*/
@media only screen and (max-width: 812) {

}

/*---------------Media Queries iPhone 6/7/8---------------*/
@media only screen and (min-width: 667) {


}