
/*---------------TAGS---------------*/


/*---------------CLASS---------------*/

.homeStatement {
    /* -webkit-text-stroke: 0.5px rgb(87, 87, 87); */
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5%;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

/*---------------IDs---------------*/



/*---------------Media Queries iPad---------------*/

@media only screen and (min-width: 768px) {

    .homeStatement {
        /* margin: 50px 15px; */
        font-size: 25px;
    }

}

/*---------------Media Queries iPad Pro---------------*/

@media only screen and (min-width: 1024px) {

    .homeStatement {
        /* margin: 85px 15px; */
        font-size: 35px;
    }

}

/*---------------Media Queries Laptop---------------*/


@media only screen and (min-width: 1366px) {
    
    .homeStatement {
        /* margin: 85px 15px; */
        font-size: 55px;
    }
}