
/*---------------TAGS---------------*/

.carousel {
  margin: 25% auto;
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  height: 100vw;
  display: block;
  margin: 0 auto;
}

/*---------------CLASS---------------*/


/*---------------IDs---------------*/



/*---------------Media Queries iPad---------------*/

@media only screen and (min-width: 768px) {

  
}

/*---------------Media Queries Desktop---------------*/

@media only screen and (min-width: 1050px) {

  
}

/*---------------Media Queries LargeDesktop---------------*/

@media only screen and (min-width: 1200px) {


  
}