
/*---------------TAGS---------------*/

h3,
p {
  color: black;
}

img {
  height: 75vh;
  /* height: 25%!important; */
}

/*---------------CLASS---------------*/

.carousel {
  margin: 5px auto; 
  width: 80%;
  /* height: auto; */
  height: 50vh;
  color: black;

}

/*---------------IDs---------------*/



/*---------------Media Queries iPad---------------*/

@media only screen and (min-width: 900px) {

  .carousel {
    width: 50%;
  }
  
}

/*---------------Media Queries Desktop---------------*/

@media only screen and (min-width: 1050px) {

  .carousel {
    width: 40%;
  }
  
}

/*---------------Media Queries LargeDesktop---------------*/

@media only screen and (min-width: 1200px) {

  .carousel {
    width: 35%;
  }
  
}