
/*---------------TAGS---------------*/

img {
  height: 100vw;
  display: block;
  margin: 0 auto;
}

/*---------------CLASS---------------*/

.carousel {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
}

/*---------------IDs---------------*/



/*---------------Media Queries iPad---------------*/

@media only screen and (min-width: 768px) {

  img {
    width: 95%;
    height: 95%;
  }

  /* .container-with-dots {
    height: 90vw;
  } */

  .container-with-dots {
    height: 90%;
  }

  .image {
    margin-top: 10%;
  }

}

/*---------------Media Queries Desktop---------------*/

@media only screen and (min-width: 1300px) {

  /* .container-with-dots {
    height: 55vw;
  } */

}

/*---------------Media Queries Desktop1---------------*/

@media only screen and (min-width: 1801px) {

  /* .container-with-dots {
    height: 50vw;
  } */

}

/*---------------Media Queries Desktop2---------------*/

@media only screen and (min-width: 2001px) {

  /* .container-with-dots {
    height: 65%;
  } */

}
