
/*---------------TAGS---------------*/



/*---------------CLASS---------------*/

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: columns;
    padding: 10px 50px;
    background-color: black;
    opacity: 0.6;
    color: white;
}

.links {
    font-size: 17px;
    margin:  auto 0;
    width: 35%;
}

.userWelcome {
    padding-left: 200px;
    justify-content: right;
    /* margin-right: 1px; */
}

.navOptions {
    display: flex;
    justify-content: space-between;
}

.nav a {
    color: white;
}

/*---------------IDs---------------*/

#appName {
    margin-left: 20px;
    font-size: 50px;
}


/*---------------Media Queries iPad---------------*/

@media only screen and (min-width: 602px) {

    .nav {
        padding-right: 20px; 
    }

    .links {
        font-size: 25px;
    }
    
    #appName {
        font-size: 55px;
    }

}

/*---------------Media Queries Desktop---------------*/

@media only screen and (min-width: 1025px) {

    .links {
        font-size: 27px;
    }

    .userWelcome {
        padding-left: 250px;
    }

    #appName {
        /* margin: auto 0; */
        /* margin-left: 10px; */
        font-size: 55px;
    }

}